.player-profilePic {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.player-profileHeader {
    text-align: center;
}

.communityMarketplace {
    display: flex;
    justify-content: space-between;
}

.player-profileSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.btn-buy .btn-primary {
    background-color: #1ab394;
    color: white;
}

.player-profileSection-header {
    background-color: #69BBF3;
    color: #FFFFFF;
    width: 100%;
    text-align: center
}

.player-profileSection-content {
    text-align: center
}

.buysellContainer {
    display: flex;
    justify-content: center;
}

.playerImg {
    max-width: 350px;
    width: 100%;
    max-height: 254px;
    height: 100%;
}

.player-badges {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.playerBadge {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    // margin-right: 5px;
    // margin-bottom: 5px;
}
.badgeIcon {
    margin-right: 10px;
}

.adpChart {
    display: flex;
    justify-content: center;
}

.adpChart-container {
    width: 100%;
}

.graphContainer {
    text-align: center;
}

.profile-content {
    padding-top: 0;
}

.compareSearch {
    width: 100%;
}

.Select-control {
    transition: border-color .15s ease-out;
}

.compareSearch.has-error .Select .Select-control {
    border-color: #ed5565;
}

.compareSearch.has-success .Select .Select-control {
    border-color: #69BBF3;
}

.team1Calc {
    width: 100%;
}

.team1Calc.has-error .Select .Select-control {
    border-color: #ed5565;
}

.team1Calc.has-success .Select .Select-control {
    border-color: #69BBF3;
}

.team2Calc {
    width: 100%;
}

.team2Calc.has-error .Select .Select-control {
    border-color: #ed5565;
}

.team2Calc.has-success .Select .Select-control {
    border-color: #69BBF3;
}

.removePlayer {
    color: #ed5565;
}

.removePlayer:hover {
    cursor: pointer;
}

.removePlayerRow {
    font-size: 18px;
}

.instructionsTitle {
    display: flex;
    justify-content: space-between;
}

.clickable {
    cursor: pointer;
}

.calcResultRow {
    display: flex;
    justify-content: space-between;
}

.greenText {
    color: #1ab394;
}

.redText {
    color: #ed5565;
}

.yellowText {
    color: #f8ac59;
}

.greenBackground {
    background-color: #1ab394;
}

.redBackground {
    background-color: #ed5565;
}

.yellowBackground {
    background-color: #f8ac59;
}

.flexContainer {
    display: flex;
}

.flexContainer.spaceBetween {
    justify-content: space-between;
}

.header4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.justifyCenter {
    justify-content: center;
}

.calcSection {
    margin-bottom: 10px;
}

.calcSection:first-of-type {
    border-right: 1px solid #e7eaec;
}

.textCenter {
    text-align: center;
}

.tradeButton {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .calcSection:first-of-type {
        border-right: 0;
    }
    .calcSection:last-of-type {
        border-top: 1px solid #e7eaec;
    }
}
